In [6]:
import pandas as pd

In [8]:
purchases = [
    {"item": "apple", "category": "fruit", "price": 1.2, "quantity": 10},
    {"item": "banana", "category": "fruit", "price": 0.5, "quantity": 5},
    {"item": "milk", "category": "dairy", "price": 1.5, "quantity": 2},
    {"item": "bread", "category": "bakery", "price": 2.0, "quantity": 3},
]

In [10]:
df = pd.DataFrame(purchases)
df

     item category  price  quantity
0   apple    fruit    1.2        10
1  banana    fruit    0.5         5
2    milk    dairy    1.5         2
3   bread   bakery    2.0         3

In [12]:
(df.price*df.quantity).sum()

23.5

In [14]:
def total_revenue(purchases):
    df = pd.DataFrame(purchases)
    return (df.price * df.quantity).sum()

In [16]:
total_revenue(purchases)

23.5

In [18]:
def items_by_category(purchases):
    res = dict()
    for value in purchases:
        item = value.get("item")
        category = value.get("category")
        if res.get(category):
            res[category].append(item)
        else:
            res[category] = [item]
    return res

In [20]:
items_by_category(purchases)

{'fruit': ['apple', 'banana'], 'dairy': ['milk'], 'bakery': ['bread']}

In [22]:
def expensive_purchases(purchases, min_price):
    df = pd.DataFrame(purchases)
    return df.query(f"price >= {min_price}").to_dict(orient='records')

In [26]:
expensive_purchases(purchases, 1.0)

[{'item': 'apple', 'category': 'fruit', 'price': 1.2, 'quantity': 10},
 {'item': 'milk', 'category': 'dairy', 'price': 1.5, 'quantity': 2},
 {'item': 'bread', 'category': 'bakery', 'price': 2.0, 'quantity': 3}]

In [28]:
def average_price_by_category(purchases):
    df = pd.DataFrame(purchases)
    return df[["category", "price"]].groupby("category").mean("price").sort_values("price").to_dict().get('price')

In [30]:
average_price_by_category(purchases)

{'fruit': 0.85, 'dairy': 1.5, 'bakery': 2.0}

In [32]:
def most_frequent_category(purchases):
    df = pd.DataFrame(purchases)
    return df.groupby("category").count().sort_values("item", ascending=False).reset_index()["category"][0]

In [34]:
most_frequent_category(purchases)

'fruit'